<mapper namespace="com.seres.kgserver.dao.isp.DisciplineDao">

    <insert id="insertAffiliatedProject">
        insert edge affiliated_project() values "${disciplineVid}"->"${projectVid}":()
    </insert>

    <insert id="insertAffiliatedPhase">
        insert edge affiliated_phase() values "${disciplineVid}"->"${phaseVid}":()
    </insert>

    <select id="selectAllDiscipline" resultType="com.seres.kgserver.nebula.tag.isp.Discipline">
        <!-- isp数据量小可以查询全部 -->
        MATCH (a: discipline) RETURN a
    </select>

    <select id="selectDisciplineByProjectId" resultType="com.seres.kgserver.nebula.tag.isp.Discipline">
        MATCH (a:discipline)-[:affiliated_project]->(c) WHERE c.project.id=='${projectId}' RETURN a
    </select>

    <update id="updateInfoById" parameterType="com.seres.kgserver.nebula.tag.isp.Discipline">

        update VERTEX "${discipline.id}" set

            discipline.disciplineName = '${discipline.disciplineName}',
            discipline.description = '${discipline.description}',
            discipline.updateTime = '${discipline.updateTime}'

    </update>
</mapper>